[submodule "Basic_Dsgn_Analysis"]
	path = Basic_Dsgn_Analysis
	url = https://github.com/cbalakr/Basic_Dsgn_Analysis.git
[submodule "ClkConstr_Intro"]
	path = ClkConstr_Intro
	url = https://github.com/cbalakr/ClkConstr_Intro.git
